<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IoriRun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,89},{116,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,86}}</string>
                <key>sourceSize</key>
                <string>{116,86}</string>
            </dict>
            <key>IoriRun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,259},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>IoriRun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,177},{111,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,80}}</string>
                <key>sourceSize</key>
                <string>{111,80}</string>
            </dict>
            <key>IoriRun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{117,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,79}}</string>
                <key>sourceSize</key>
                <string>{117,79}</string>
            </dict>
            <key>IoriRun05.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{118,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,85}}</string>
                <key>sourceSize</key>
                <string>{118,85}</string>
            </dict>
            <key>IoriRun06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>IoriRun07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{113,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,78}}</string>
                <key>sourceSize</key>
                <string>{113,78}</string>
            </dict>
            <key>IoriRun08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,83}}</string>
                <key>sourceSize</key>
                <string>{121,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>IoriRun.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37099e2e9be93b1505dc46cae87fd27e$</string>
            <key>textureFileName</key>
            <string>IoriRun.png</string>
        </dict>
    </dict>
</plist>
